body{
    background-color: #C7B7A3;
    padding: 0;
    margin: 0;
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.contact-info i{
    color: #561C24;
}

.social-icons{
    color: #561C24;
}

.social-icons a i{
    color: #561C24;
}

.social-icons a i:hover{
    color: #E8D8C4;
}

/*Navigation*/
nav{
    color: white;
    background-color: #561C24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav-links ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    padding: 5px;
    
}

.nav-links a:hover{
    border: 2px solid white;
    padding: 10px;
}

.nav-links img{
    width: 100px;

}

/*Responsive design for header*/
@media (max-width: 760px){
    header{
        flex-direction: column;
    }
    .contact-info{
        display: flex;
        flex-direction: column;
    }
}

.hero-image{
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(green_bg.webp);
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    height: 80vh;
    
    
}

.hero-text{
    /* Place text in the middle of the image */
    color: white;
    padding: 15px;
    position: relative;
    top: 30%;
}

.hero-text button{
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.hero-text button:hover{
    background-color: #555;
    color: white;
}

main{
    padding: 15px;
}

#about{
    display: flex;
    justify-content: sp
}

video{
    max-width: 100%;
    height: auto;
}

.intro-video{
    width: 300px;
    padding: 10px;
}

.education-card{
    padding: 10px;
    background-color: #EBF4F6;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

.education-card h3 {
 margin-top: 0;
 color: #222;
}
.education-card p {
 margin: 5px 0;
}

.table-wrapper{
    overflow-x: auto;
    margin-top: 20px;
}

.modern-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.modern-table thead{
    background: #122;
    color: white; 
    text-transform: uppercase;
}

.modern-table th, .modern-table td {
    padding: 14px 16px;
    text-align: left;
}

.modern-table tbody tr:nth-child(even){
    background: #f9f9f9;
}

.modern-table tbody tr:hover{
    background: #eaffd0;
}

.contact-box{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    background: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-info i{
    color: #561C24;
    margin-right: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 95em;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.contact-form button{
    width: 100%;
    background: #222; 
    color: white;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover{
    background: greenyellow;
}

@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .intro-container {
        flex-direction: column;
    }
}

video{
    max-width: 100%;
    height: auto;
}

.intro-video{
    width: 300px;
    padding: 10px;
    left: 80px;
}

footer{
    text-align: center;
}

